.nav-bar {
  display: flex;
}

.nav-logo a {
  padding: 8px 12px;
  align-items: center;
  display: flex;
}

.nav-content {
  justify-content: flex-end;
  display: flex;
}

.nav-content ul {
  list-style-type: none;
  display: flex;
}

.nav-content li {
  margin-left: 40px;
}