:root {
  /* colors */
  --urgent: #f00;
  --primary: #21007d;
  --success: #00a132;
  --info: #00bcd9;
  --disable: #cbcbcb;
  --transparent: transparent;
  --light: #f4f4f4;
  --medium-light: #717171;
  --dark: #414141;
  --white: #fff;
  --black: #000;
  /* fonts */
  --small: 1rem;
  --medium: 1.4rem;
  --big: 2rem;
  --large: 2.4rem;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* buttons start */
.button-default {
  padding: 7px 15px;
  border-radius: 2px;
  transition: .2s ease-in-out;
}

.button-default:hover {
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, .75);
}

.bg-urgent {
  background-color: var(--urgent);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-success {
  background-color: var(--success);
}

.bg-info {
  background-color: var(--info);
}

.bg-disable {
  background-color: var(--disable);
}

.bg-transparent {
  background-color: var(--transparent);
}

.bg-light {
  background-color: var(--light);
}

.bg-medium-light {
  background-color: var(--medium-light);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

/* buttons end */
/* text color start */
.text-urgent {
  color: var(--urgent);
}

.text-primary {
  color: var(--primary);
}

.text-success {
  color: var(--success);
}

.text-info {
  color: var(--info);
}

.text-disable {
  color: var(--disable);
}

.text-light {
  color: var(--light);
}

.text-medium-light {
  color: var(--medium-light);
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

/* text color end */
/* text styling start */
.text-small {
  font-size: var(--small);
}

.text-medium {
  font-size: var(--medium);
}

.text-big {
  font-size: var(--big);
}

.text-large {
  font-size: var(--large);
}

/* text styling end */
a {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

/* positions */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

/* positions end */

/* display classes */
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.d-table {
  display: table;
}

/* display classes end */